<!Doctype Html>
<Html>   
<Head> 
</Head>
<Body background="C:\Users\Admin\Desktop\.html\wp3458022.jpg"> 
   <br>
 <br>
<br>

</Body>
</Html>


<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
</style>
</head>
<body>

<!-- MAIN (Center website) -->
<div class="main">

<h1>www.iplt20.com</h1>
<hr>

<h3>file:///C:/Users/Admin/Desktop/.html/Csk.html</h3>
<h3>Web page designed by</h3>
<h4>B.Ashwin</h4>
<link href='https://fonts.googleapis.com/css?family=Sniglet' rel='stylesheet'>
<style>
body {
    font-family: 'Sniglet';font-size: 15px;
}
</style>




<div id="myBtnContainer">
    <button class="btn" onclick="filterSelection('all')"> Show All Members</button>
  <button class="btn active" onclick="filterSelection('bat')"> Csk Batsman</button>
  <button class="btn" onclick="filterSelection('ball')"> Csk Bowler</button>
  <button class="btn" onclick="filterSelection('round')"> All-Rounder</button>
 
</div>

<style>
	body {
		text-align: right;
	}
  </style>
<body>	
	<!-- Adding link to the button on the onclick event -->
	<br><br><button class="GFG"
	onclick="window.location.href = 'file:///C:/Users/Admin/Desktop/.html/Main_csk.html';">
		 Click here to go to home page
	</button><br><br>
</body>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column all">
    <div class="content">
      <img src="C:\Users\Admin\Desktop\.html\1597260667_ee9hrtbumaaqwlg.jpg" alt="Mountains" style="width:100%">
      <h4>MS.DHONI</h4>
      <p> Roll : Wicket Keeper (c)</p>
      <text align="middle">
        <br><p><a href="https://en.wikipedia.org/wiki/MS_Dhoni">More details</a></p>
      
<style>
	body {
		text-align: center;
	}
</style>
     
    </div>
  </div>
  <div class="column round">
    <div class="content">
    <img src="C:\Users\Admin\Desktop\.html\Sam-Curran1.jpg" alt="Lights" style="width:100%">
      <h4>SAM CURREN</h4>
      <p>Roll : All-Rounder</p>
      <text align="middle">
        <br><p><a href="https://en.wikipedia.org/wiki/Sam_Curran">More details</a></p>
               
    </div>
  </div>
  <div class="column bat">
    <div class="content">
    <img src="C:\Users\Admin\Desktop\.html\926082-917625-820013-suresh-raina.jpg" alt="Nature" style="width:100%">
      <h4>Suresh Raina</h4>
      <p>Roll : Batsman</p>
      <text align="middle">
        <br><p><a href="https://en.wikipedia.org/wiki/Suresh_Raina">More details</a></p>
    </div>
  </div>

 
  
  <div class="column round">
    <div class="content">
      <img src="C:\Users\Admin\Desktop\.html\Ravindra-Jadeja.jpg" alt="Car" style="width:100%">
      <h4>Ravindra Jadeja</h4>
      <p>Roll : All-Rounder</p>
      <text align="middle">
        <br><p><a href="https://en.wikipedia.org/wiki/Ravindra_Jadeja">More details</a></p>
    </div>
  </div>
  <div class="column bat">
    <div class="content">
    <img src="C:\Users\Admin\Desktop\.html\images.jpg" alt="Car" style="width:100%">
      <h4>Faf Du Plessis</h4>
      <p>Roll : Batsman</p>
      <text align="middle">
        <br><p><a href="https://en.wikipedia.org/wiki/Faf_du_Plessis">More details</a></p>
    </div>
  </div>


  
  <div class="column round">
    <div class="content">
    <img src="C:\Users\Admin\Desktop\.html\IMG-20210218-WA0037-1.jpg" alt="Car" style="width:100%">
      <h4>Moeen Ali</h4>
      <p>Roll : All-Rounder</p>
      <text align="middle">
        <br><p><a href="https://en.wikipedia.org/wiki/Moeen_Ali">More details</a></p>
    </div>
  </div>

  <div class="column bat">
    <div class="content">
      <img src="C:\Users\Admin\Desktop\.html\maxresdefault.jpg" alt="Car" style="width:100%">
      <h4>Ruturaj Gaikwad</h4>
      <p>Roll : Batsman</p>
      <text align="middle">
        <br><p><a href="https://en.wikipedia.org/wiki/Ruturaj_Gaikwad">More details</a></p>
    </div>
  </div>
  
  <div class="column ball">
    <div class="content">
    <img src="C:\Users\Admin\Desktop\.html\images (1).jpg" alt="Car" style="width:100%">
      <h4>Deepak Chahar</h4>
      <p>Roll : Bowler</p>
      <text align="middle">
        <br><p><a href="https://en.wikipedia.org/wiki/Deepak_Chahar">More details</a></p>
    </div>
  </div>
  <div class="column bat">
    <div class="content">
    <img src="C:\Users\Admin\Desktop\.html\noqmkczfgn-1526224597.jpg" alt="Car" style="width:100%">
      <h4>Ambati Rayudu</h4>
      <p>Roll : Batsman</p>
      <text align="middle">
        <br><p><a href="https://en.wikipedia.org/wiki/Ambati_Rayudu">More details</a></p>
    </div>
  </div>

  <div class="column ball">
    <div class="content">
    <img src="C:\Users\Admin\Desktop\.html\ShardulThakur1.jpg" alt="Car" style="width:100%">
      <h4>Shardul Thakur</h4>
      <p>Roll : Bowler</p>
      <text align="middle">
        <br><p><a href="https://en.wikipedia.org/wiki/Shardul_Thakur">More details</a></p>
    </div>
  </div>
  
  

  


<!-- END GRID -->
</div>

<!-- END MAIN -->
</div>

<script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("column");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}


// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>

</body>
</html>
